.wktgs { 
  font-size: 89px;
  border-bottom-width: 32px;
  border-bottom-width: 55px;
  border-bottom-width: 32px;
  border-bottom-width: 29px;
  margin-right: 45px;
  font-size: 63px;
  padding-bottom: 55px;
  border-top-width: 90px;
}
