.wktgs { 
  font-size: 89px;
  border-bottom-width: 32px;
  border-bottom-width: 55px;
  border-bottom-width: 32px;
  border-bottom-width: 29px;
  margin-right: 45px;
  font-size: 63px;
  padding-left: 68px;
  line-height: 51px;
  border-top-width: 2px;
  line-height: 93px;
  margin-bottom: 58px;
  border-right-width: 19px;
  border-right-width: 61px;
  padding-top: 99px;
  padding-bottom: 47px;
  margin-bottom: 60px;
  border-bottom-width: 59px;
  margin-left: 21px;
}
