.xghvh { 
  padding-right: 21px;
  margin-bottom: 85px;
  margin-top: 22px;
  margin-right: 97px;
  border-left-width: 25px;
  margin-bottom: 69px;
  padding-right: 41px;
  padding-top: 78px;
  border-bottom-width: 56px;
  line-height: 15px;
  font-size: 22px;
  padding-right: 57px;
  margin-bottom: 79px;
  border-left-width: 72px;
  padding-top: 79px;
  margin-right: 31px;
  padding-left: 96px;
  border-right-width: 46px;
  margin-left: 33px;
}
